	.menu-filter{
		width: 50px; left: 0px;top: 0px;
		background: #3b5998; min-height: 589px;
	}
	.mh589{min-height: 589px;}
	.content-post{width: 100%; left: 50px;}
	.filter{padding: 10px 0px; color: white; cursor: pointer;}
	.filter:hover{background: white; color: #3b5998;}
	.w100p{width: 100% !important;}
	.h45{height: 42px; line-height: 42px;}
	.box-content{overflow-y: scroll; height: 547px;}
	
     .activity-item {
	    cursor: pointer;
	    float: left;
	    width: 100%;
	    padding: 5px;
	}
	.activity-item:hover{background: white;}
	.activity-item .left-item{float: left;
    width: 70px;
    min-height: 60px;}
    .activity-item .left-item .img{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    overflow: hidden;
    }
    .activity-item .left-item .img img{
    	display: block;
    	width: 100%;
    }
    .activity-item .mid-item {
    float: left;
    width: calc(100% - 152px);
    padding: 4px 0;
    min-height: 60px;
}
.item-message {
    font-size: 14px;
}
.activity-item .right-item {
    float: left;
    width: 75px;
    padding: 4px 5px 4px 0;
    min-height: 60px;
    text-align: right;
}
.activity-item.unread .item-name, .activity-item.unread .item-icon {
    color: #ff8c00;
}
.activity-item .item-name {
    font-weight: bold;
}
.chat{
	height: 427px;
	overflow-y: scroll;
   
}
.top-chat .left{float: left;
    padding-left: 10px;
    max-width: calc(100% - 225px);}
.top-chat .right {
    float: right;
    max-width: 225px;
}
.top-chat .btn-action {
    float: left;
    padding: 0 11px;
    cursor: pointer;
    border-left: 1px solid #b7bdc8;
    color: #4267b2;
    display: inline-block;
}
.ellipsis{color: #365899; font-weight: bold;}
._msg {
    position: relative;
}
._msg-bd {
    margin-left: 36px;
}
._s-msg ._msg-t, ._s-msg ._msg-ac {
    text-align: right;
}
._msg-t {
    display: block;
    margin: 10px 12px;
    font-weight: 500;
    font-size: 14px;
}
._s-msg ._msg-tx {
    clear: right;
    float: right;
    background-color: #0084ff;
    color: #fff;
}
._msg-tx {
    padding: 6px 12px;
}
._msg-tx, ._msg-at {
    border-radius: 1.3em;
    max-width: 65%;
    box-sizing: content-box;
    margin: 1px 0;
    position: relative;
}
._s-msg ._msg-tx {
    clear: right;
    float: right;
    background-color: #0084ff;
    color: #fff;
}
._msg-avr {
    max-height: 30px;
    max-width: 30px;
    top: 32px;
    position: absolute;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
._o-msg ._msg-tx {
    clear: left;
    float: left;
    background-color: #f1f0f0;
    color: #000;
}
a {
    color: #365899;
}
._msg-tx::after, ._msg-at::after {
    content: attr(data-time);
    position: absolute;
    bottom: 1px;
    font-size: 12px;
    color: #888;
}
._o-msg ._msg-tx::after, ._o-msg ._msg-at::after {
    right: -30px;
}
._s-msg ._msg-tx::after, ._s-msg ._msg-at::after {
    left: -30px;
}
.realy .discussion-tags {
    min-height: 20px;
}
.discussion-tags[data-number="5"] .msg-tag {
    width: 20%;
}

.discussion-tags .msg-tag {
    display: inline-block;
    font-size: 12px;
    float: left;
    white-space: nowrap;
    height: 20px;
    line-height: 20px;
    padding: 0 3px;
    text-align: center;
    margin: 0;
    border-radius: 0;
    cursor: pointer;
}
.discussion-tags .msg-tag.unactive {
    background-color: #e3e4e6 !important;
    border-right: 1px solid #fff;
    color: #555 !important;
}
.discussion-input {
    height: 65px;
    display: block;
    width: 100%;
    border: none;
    background: transparent;
    padding: 8px;
    border-bottom: 1px solid #e3e4e6;
    resize: none;
}
textarea {
    vertical-align: top;
    overflow: auto;
}
.discussion-buttons {
    background-color: #f1f1f1;
}
.discussion-button {
    float: left;
    border-right: 1px solid #d6d6d6;
    height: 34px;
    line-height: 34px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0 10px;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.discussion-note {
    float: right;
    height: 34px;
    line-height: 34px;
    font-size: 13px;
    padding-right: 4px;
}
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid\9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}